[submodule "logic-form"]
	path = logic-form
	url = git@github.com:gipsyh/logic-form.git
[submodule "partitioned-smc"]
	path = partitioned-smc
	url = git@github.com:gipsyh/partitioned-smc.git
[submodule "cudd-rs"]
	path = cudd-rs
	url = git@github.com:gipsyh/cudd-rs.git
[submodule "fsmbdd"]
	path = fsmbdd
	url = git@github.com:gipsyh/fsmbdd.git
[submodule "smv-rs"]
	path = smv-rs
	url = git@github.com:gipsyh/smv-rs.git
[submodule "sylvan-rs"]
	path = sylvan-rs
	url = git@github.com:gipsyh/sylvan-rs.git
[submodule "bdds"]
	path = bdds
	url = git@github.com:gipsyh/bdds.git
[submodule "sylvan-sys"]
	path = sylvan-sys
	url = git@github.com:gipsyh/sylvan-sys.git
[submodule "ltl2ba"]
	path = ltl2ba
	url = git@github.com:gipsyh/ltl2ba.git
[submodule "lace"]
	path = lace
	url = git@github.com:gipsyh/lace.git
[submodule "sylvan"]
	path = sylvan
	url = git@github.com:gipsyh/sylvan.git
